<!DOCTYPE html>
<html lang="en" layout:decorate="~{_layout}">
  <body>
    <section layout:fragment="content">
      <form method="post" action="/create">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Titulo</label>
          <input type="text" class="form-control" name="title" />
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Descrição</label>
          <input type="text" class="form-control" name="description" />
        </div>
        <div class="mb-3">
          <select name="status" class="form-select">
            <option th:value="'Pendente'" selected>Pendente</option>
            <option th:value="'Em progresso'">Em progresso</option>
            <option th:value="'Concluído'">Concluído</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Criar tarefa</button>
      </form>
    </section>
  </body>
</html>
